/* work font style */

@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Inter:wght@400;500&family=Sen:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */

* {

    font-family: 'Work Sans', sans-serif;
}

.text-light-gray {
    color: var(--Dark-02, #424242);
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    width: 180px;
    height: 64px;
    padding: 7px 25px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;

}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    margin-right: 30px;
    list-style: none;

}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 144.444% */
}

nav>h3 {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}

/* banner styles */
.banner-content {
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: var(--Dark-01, #131313);
    font-size: 64px;
    font-weight: 700;
}

.text-light-gray {
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.banner-img {
    margin-top: 30px;
    width: 100%;
}


/* main style */
main {
    max-width: 1440px;
    margin: 80px auto;
}

/* teams style */

.teams-container {
    display: flex;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-contant {
    padding-left: 75px;
}

.teams-title {
    font-size: 2.8rem;
}

/* spans style */
.span-1 {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 500;
}

.span-2 {
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}

.span-3 {
    color: #FF900E;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}



/* responsive media quiry */
/* mobile devices */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: 1fr;
    }

    .teams-contant {
        padding: 20px 20px;
    }
}

/* tablet or medium devices */
@media screen and (max-width:960px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }
}